body {
    background-color: #444;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-grid-container {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.settings,
.slidercontainer {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
}
